---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import BeforeAfter from '../components/BeforeAfter.astro';
import ArticlesPreview from '../components/ArticlesPreview.astro';
import Pricing from '../components/Pricing.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main id="main">
    <Hero />
    <Services />
    <BeforeAfter />
    <ArticlesPreview />
    <Pricing />
    <Contact />
  </main>
  <Footer />
</Layout>
